		#days_text{
			background-image:url('img/days_text_en.jpg');
			background-position: center;
			background-repeat:no-repeat;
			position: absolute;
			padding-top: 105px;
			margin-left: -40px;
			height: 24px;
			width: 50px;
		}
	

		#hours_text{
			background-image:url('img/hours_text_en.jpg');
			background-position: center;
			background-repeat:no-repeat;
			position: absolute;
			padding-top: 105px;
			margin-left: -41px;
			height: 24px;
			width: 50px;
		}

		#mins_text{
			background-image:url('img/mins_text_en.jpg');
			background-position: center;
			background-repeat:no-repeat;
			position: absolute;
			padding-top: 105px;
			margin-left: -41px;
			height: 24px;
			width: 50px;
		}


		#secs_text{
			background-image:url('img/secs_text_en.jpg');
			background-position: center;
			background-repeat:no-repeat;
			position: absolute;
			padding-top: 105px;
			margin-left: -41px;
			height: 24px;
			width: 50px;
		}
	
	#days span, #hours span, #mins span , #secs span {
	background: url(img/flip_gradient.png);
	background-repeat:no-repeat;
	position: absolute;
	display: block;
	margin-left: -20px;
	height: 35px;
	width: 58px;
}