.img-mb {
	display: none
}
.img-mb img {
	max-width: 100%;
	box-sizing: border-box;
}

@media only screen and (max-width: 430px) {
	#bgvid {
		display: none
	}
	#banner-video {
		height: auto!important
	}
	.img-mb {
		display: block
	}
}