.search250 .btnSmall { border-radius: 0; text-shadow: none; font-weight: normal }
@media only screen and (max-width: 973px) {
	.headerfront #lang { padding: 0 0 12px }
	#logo { width: 189px }
}
@media only screen and (max-width: 480px) {
	#header-container #logo { float: none; text-align: center; width: 100%; height: 70px; margin-left: 0 }
	#header-container #header-join-container { width: 100%; float: none }
	#header-join { float: none; width: 225px; margin: 10px auto 0; height: 28px }
	.headerfront #lang { float: none; text-align: center; margin-left: 0 }
	.headerfront #lang .language_all { float: none; display: inline-block; position: relative; top: 2px }
	#header-join a.buttonJoin { background-position: 0 0; padding-top: 0 }
}